<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field }}
          </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
        <button type="submit">ログイン</button>
    </form>
</body>
</html>